
div {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    font-family: 'Space Grotesk', sans-serif;
} 
.gral {
    font-family: 'Space Grotesk', sans-serif;
}
/* Empieza el cuadro de la imagen*/
.frame {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    margin: 50px auto;
}
/*cuadro del titulo*/
.Img-title-bar {
    width: 100%;
    height: 10%;
    display: flex;
    background: white;
}
.icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.mini-titulo {
    width: 50%;
    padding: 0px 0px 0px 5px;
    font-weight: 400;
    font-size: small;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
.count-img {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
/*cuadro de la imagen*/
.img-frame {
    height: 80%;
    width: 100%;
}
img {
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}
/*cuadro de la descripcion*/
.footer-frame {
    height: 30%;
    background: rgb(255, 255, 255);
}


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100px;
    padding-top: 10px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        padding: 4px;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        float: left;
        height: 20%;
        width: 40%;
    }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        padding: 4px;
        display: flex;
        justify-content: right;
        align-items: center; 
        width: 95%;
        float: right;
    }
    .div3 { 
        grid-area: 2 / 1 / 3 / 3; 
        display: inline;
        padding: 0px 7px;
        text-align: justify;
    }